@import url("colors.css");

window {
	background-color: alpha(@surface_container, 0.7);
	border-radius: 10px;
	border-style: none;
	border-width: 10px;
	border-color: @primary;
}

#box {
	/* Define attributes of the box surrounding icons here */
	padding: 2px;
}

#active {
	/* This is to underline the button representing the currently active window */
	border-bottom: solid 1px;
	border-color: @primary;
}

button,
image {
	background: none;
	border-style: none;
	box-shadow: none;
	color: @on_surface_variant;
}

button {
	padding: 4px;
	margin-left: 4px;
	margin-right: 4px;
	color: @on_surface;
	font-size: 10px;
}

button:hover {
	background-color: @surface_container_high;
	border-radius: 2px;
}

button:focus {
	box-shadow: none;
}